<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>313818772403-mt83q1155b1690nmbt8h5on1gbivp6l7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.313818772403-mt83q1155b1690nmbt8h5on1gbivp6l7</string>
	<key>API_KEY</key>
	<string>AIzaSyAw-tpJJ4vDQCUeV_Q3JaTZUJk6Pvhtgl8</string>
	<key>GCM_SENDER_ID</key>
	<string>313818772403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cyanvillarin.dreams</string>
	<key>PROJECT_ID</key>
	<string>dream-universe-c7893</string>
	<key>STORAGE_BUCKET</key>
	<string>dream-universe-c7893.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313818772403:ios:44e67c4602751e87f751c6</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8855918227783661~3290685546</string>
</dict>
</plist>